.vscode
.settings
.qtenvrc

.DS_Store

*.so
*.dylib

# *.sca
# *.vec
# *.vci

**/out
**/todo
**/results

Makefile
# demodump.xml

# patched/
# original/
# samples/images/os3

modules/os3/src/os3/libnorad
external/leosatellites/src/leosatellites
