.vscode
.settings
.qtenvrc

.DS_Store

*.so
*.dylib

# *.sca
# *.vec
# *.vci

**/out
**/todo
**/results
**/temp
**/tempcode
**/logs

utils.py
utilsActiveNode.py
utilsPacketDropped.py
utilsTemporalStats.py
utilsTimeWindow.py

Makefile
# demodump.xml

# patched/
# original/
# samples/images/os3

modules/os3/src/os3/libnorad
external/leosatellites/src/leosatellites
samples/images/os3/background_earth_CospasSarsat.png
samples/images/os3/background_earth.png
samples/images/os3/binocular.png
samples/images/os3/Erde.GIF
samples/images/os3/Erde.jpg
samples/images/os3/Erde1.gif
samples/images/os3/Galileo_Satellit_klein.gif
samples/images/os3/satellit_blue.gif
samples/images/os3/satellit_green.gif
samples/images/os3/satellit_l_rot.gif
samples/images/os3/satellit_orange.gif
samples/images/os3/satellit_yellow.gif
samples/images/os3/satellite_red.gif
samples/images/os3/sw.gif
samples/images/os3/weatherIcons/wsymbol_0001_sunny.png
samples/images/os3/weatherIcons/wsymbol_0002_sunny_intervals.png
samples/images/os3/weatherIcons/wsymbol_0003_white_cloud.png
samples/images/os3/weatherIcons/wsymbol_0004_black_low_cloud.png
samples/images/os3/weatherIcons/wsymbol_0006_mist.png
samples/images/os3/weatherIcons/wsymbol_0007_fog.png
samples/images/os3/weatherIcons/wsymbol_0008_clear_sky_night.png
samples/images/os3/weatherIcons/wsymbol_0009_light_rain_showers.png
samples/images/os3/weatherIcons/wsymbol_0010_heavy_rain_showers.png
samples/images/os3/weatherIcons/wsymbol_0011_light_snow_showers.png
samples/images/os3/weatherIcons/wsymbol_0012_heavy_snow_showers.png
samples/images/os3/weatherIcons/wsymbol_0013_sleet_showers.png
samples/images/os3/weatherIcons/wsymbol_0016_thundery_showers.png
samples/images/os3/weatherIcons/wsymbol_0017_cloudy_with_light_rain.png
samples/images/os3/weatherIcons/wsymbol_0018_cloudy_with_heavy_rain.png
samples/images/os3/weatherIcons/wsymbol_0019_cloudy_with_light_snow.png
samples/images/os3/weatherIcons/wsymbol_0020_cloudy_with_heavy_snow.png
samples/images/os3/weatherIcons/wsymbol_0021_cloudy_with_sleet.png
samples/images/os3/weatherIcons/wsymbol_0024_thunderstorms.png
samples/images/os3/weatherIcons/wsymbol_0025_light_rain_showers_night.png
samples/images/os3/weatherIcons/wsymbol_0026_heavy_rain_showers_night.png
samples/images/os3/weatherIcons/wsymbol_0027_light_snow_showers_night.png
samples/images/os3/weatherIcons/wsymbol_0028_heavy_snow_showers_night.png
samples/images/os3/weatherIcons/wsymbol_0029_sleet_showers_night.png
samples/images/os3/weatherIcons/wsymbol_0032_thundery_showers_night.png
samples/images/os3/weatherIcons/wsymbol_0033_cloudy_with_light_rain_night.png
samples/images/os3/weatherIcons/wsymbol_0034_cloudy_with_heavy_rain_night.png
samples/images/os3/weatherIcons/wsymbol_0035_cloudy_with_light_snow_night.png
samples/images/os3/weatherIcons/wsymbol_0036_cloudy_with_heavy_snow_night.png
samples/images/os3/weatherIcons/wsymbol_0037_cloudy_with_sleet_night.png
samples/images/os3/weatherIcons/wsymbol_0040_thunderstorms_night.png
